cef_user_data/
dconf/
discord/
github-copilot/
JetBrains/
Microsoft/
microsoft-edge/
Microsoft\ Teams\ -\ Preview/
gtk-3.0/
spotify/
pavucontrol.ini/
systemd/
zsh/
yay/
vlc/
teams/
ranger/
procps/
mimeapps.list/
autostart/

# Node, Python
node_modules/
__pycache__/
coc-*-data/
